doctype html
html
  head
    meta(charset="utf-8")
    title TOP
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="../js/common.js")
    script(src="../js/top.js")
  body
    h3 hello,
      span#name
